{% extends 'catalog/base.html' %}
{% load static %}


{% block content %}

<form method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <div class="card-header" style="margin-bottom: 7px;">
                        {% if product %}
                        <h4 class="card-title">Редактировать продукт</h4>
                        {% else %}
                        <h4 class="card-title">Добавить продукт</h4>
                        {% endif %}
                    </div>
                    {% csrf_token %}
                    {{ form.as_p }}
                    {% if product %}
                    <br>
                    <button type="submit" class="btn btn-success">Сохранить</button>
                    {% else %}
                    <br>
                    <button type="submit" class="btn btn-success">Создать</button>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-6">
            {% if product %}
            {% if not perms.catalog.change_version or not product.owner == request.user %}
            <div class="card">
                <div class="card-body">
                <div class="card-header" style="margin-bottom: 7px;">
                    <h4 class="card-title">Версии продукта</h4>
                </div>

                    {{ formset.management_form }}
                    {% for form in formset.forms %}
                    {{ form.as_p }}
                    {% if not forloop.last %}
                    <hr>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    {% endif %}

</form>

{% endblock %}