{% extends 'catalog/base.html' %}
{% load media_tags %}
{% block content %}
{% include 'catalog/includes/inc_menu.html' with objects=objects %}
<div class="container">
    <div class="row">
        <div class="col-md-5 mb-4">
            <div class="card box-shadow h-100">
                <img class="card-img-top" src="{{ product.image|mymedia }}" alt="{{ product.product_name }}">
                <div class="card-body">
                </div>
            </div>
            <a href="{% url 'catalog:index' %}" class="btn btn-lg btn-outline-primary" style="margin-top: 2px;">К
                каталогу</a>
            <a href="{% url 'catalog:edit' object.pk %}" class="btn btn-lg btn-outline-primary"
               style="margin-top: 2px;">Редактировать</a>
            <a href="{% url 'catalog:delete' object.pk %}" class="btn btn-lg btn-outline-primary"
               style="margin-top: 2px;">Удалить</a>
            <p>Активная версия: {{ active_version }}</p>
        </div>

        <div class="col-md-6">
            <div class="card box-shadow h-100">
                <div class="card-body">
                    <p class="card-text fs-4">Описание: {{ product.description }}</p>
                    <p class="card-text fw-bold fs-2">Цена: {{ product.price }} руб.</p>
                </div>
                <div style="margin-top: 2px;" class="d-grid">
                    <button type="button" class="form-control btn btn-lg btn-block btn-outline-primary">Купить</button>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}